* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../img/fila-diferentes-cervezas-bar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}


.content {
  display: none;
}