<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bienvenido a SmartDrink</title>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0;url=paginas/login.html">
    </head>
</html>